<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Web Interface, blame Buzzle for it.</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
    <div class="container-fluid">
        <br>
        <div class="container-fluid">
            <h1 class="display-4 text-center">Status (updated every 5 minutes)</h1>
            <h2 class="lead text-center">Last updated: {{last_update}}</h2>
        <br>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <th>Player Name</th>
                <th>Twitter</th>
                <th>Stream</th>
                <th>Platform</th>
                <th>Status (as observed by bot)</th>
            </thead>
            <tbody>
                {%for player in players%}
                <tr>
                    <td>{{player[0]}}</td>
                    {% if player[4]%}
                    <td><a href="https://twitter.com/{{player[4][1:]}}">{{player[4]}}</a></td>
                    {%else%}
                    <td><a>None</a></td>
                    {%endif%}
                    {% if player[3]%}
                    <td><a href="{{ player[3] }}">{{player[2]}}</a></td>
                    {%else%}
                    <td><a>None</a></td>
                    {%endif%}

                    <td>{{player[1]}}</td>
                    {% if player[5] == 1 %}
                    <td><i class="bi bi-check-circle-fill"></i><b class="text-success" style="padding-left: 10px;"> Online </b></td>
                    {% elif player[5] == 0 %}
                    <td><i class="bi bi-x-circle-fill"></i><b class="text-danger" style="padding-left: 10px;"> Offline </b></td>
                    {% else %}
                    <td><i class="bi bi-question-circle-fill"></i><b class="text-warning" style="padding-left: 10px;"> UNKNOWN :( </b></td>
                    {% endif %}
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>

</html>